<%= form_for @like do |f| %>
<h1> Girl likes </h1>
<div class="div2" align="center">
	<div class="container">
		<h10 align="center"> You Like to Shop For </h10>
	</div>
	<div class="container">
		<div class="row" align='center'>
			<% @categories.each do |category| %>
			<div class="span4" align="center" style="padding-top:15px">
				<label for='category_ids_'>
					<div style="padding-bottom:5px"><h8><i><%= category.name.capitalize %></h8></i></div>
					<img src= <%= category.image %> class="new">
				</label>
				<div><%= check_box_tag 'category_ids[]', category.id %></div>
			</div>
			<% end %>
		</div>
		<div align="center">
			<%= f.submit "Next!", :class => 'button1', :style => "font-size:1.6em" %>
			<%= link_to 'Back', '/user/1/edit/', :class => 'btn btn-mini' %>
		</div>
	</div>
</div>
<% end %>


