<%= form_for(@brand) do |f| %>
<div class="container">
<div>
<%= f.text_field :name, placeholder: 'name'  %>
</div>
<div>
<%= f.text_field :image, placeholder: 'image' %>
</div>
<div>
<%= f.text_field :gender, placeholder: 'gender' %>
</div>
</div>

  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
